{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p>
                A new Gift Card has been Submitted with the following Details.
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="message-info">
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Sender Name:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.sender_name}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">Expiry Date:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.expiry_date}}</td>
                </tr>
                <tr>
                    <td align="center" style="text-align:left;width:30%;font-weight:bold;">recipient_name:</td>
                    <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.recipient_name}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
