<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="developer_hub_gift_card_data_source" xsi:type="string">CustomCardCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="add_menu_item_plugin" type="DeveloperHub\GiftCard\Plugin\Topmenu" sortOrder="10" disabled="false"/>
    </type>
    <type name="DeveloperHub\GiftCard\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">label/tmp/image</argument>
            <argument name="basePath" xsi:type="string">label/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="csv_grid_data_source" xsi:type="string">CSVGridCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="template_grid_data_source" xsi:type="string">TemplateGridCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CustomCardCollection" type="DeveloperHub\GiftCard\Ui\DataProvider\Reviews\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">gift_code_pattern</argument>
            <argument name="resourceModel" xsi:type="string">DeveloperHub\GiftCard\Model\ResourceModel\Reviews</argument>
        </arguments>
    </virtualType>
    <virtualType name="CSVGridCollection" type="DeveloperHub\GiftCard\Ui\DataProvider\CSV\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">csv_data</argument>
            <argument name="resourceModel" xsi:type="string">DeveloperHub\GiftCard\Model\ResourceModel\CsvReviews</argument>
        </arguments>
    </virtualType>
    <virtualType name="TemplateGridCollection" type="DeveloperHub\GiftCard\Ui\DataProvider\Template\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">template_data</argument>
            <argument name="resourceModel" xsi:type="string">DeveloperHub\GiftCard\Model\ResourceModel\TemplateReviews</argument>
        </arguments>
    </virtualType>
</config>
